body{
    background-color: #403153;
    font-family: Arial, Helvetica, sans-serif;
}
.landing{
    margin-top: -2em;
}
.header{
    width: 60%;
    height: auto;
    box-shadow: 0.1em 0.1em 2em black;
    margin: 0  auto;
    background-size: cover;
    
}
#gato_imagem{
    display: block;
    width: 100%;
    height: auto;    
    
}

.menu{
    display: flex;
    justify-content: flex-start;
    background-color: rgb(106, 42, 165);
    height: 3em;
    

}
.list{
    display: flex;
    margin-left: -2em;
    
}
.item_list{
    margin: 0 0.5em;
    list-style: none;
    font-weight: bold;
}

a{
    color: white;
    text-decoration: none;
    
}
a:hover {
    color: rgb(0, 0, 0);
}
#logopython{
    width: 50px;
    height: auto;
}

.divider{
    border: none;
    height: 2px;
    background-color: #333;
    margin: 1em 0;
}

.contents{
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.rodape{
    background-color: rgb(106, 42, 165);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    height: auto;
}